* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 10px;
}


button {
    font-size: 12px;
    font-weight: 400;
    background: #93001c;
    color: floralwhite;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 5px;
    margin-bottom: 5px;
}

.container {
    display: flex;
    justify-content: center;
}

.list__items,
.list__pending {
    padding: 40px;
}

.list__pending {
    background: white;
    min-height: 400px;
}

.list__item {
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: #666;
    color: whitesmoke;
    height: 30px;
    width: 200px;
    line-height: 25px;
    padding-left: 10px;
}

.item:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.item__icon {
    background: #e6e6e6;
    width: 20px;
    float: left;
    padding: 5px;
    margin-left: -10px;
    margin-right: 10px;
    
}

.item {
    background: #e6e6e6;
    width: 100px;
    padding: 5px;
    margin-bottom: 5px;
}
